.sign-up-left {
  .phone {
  background-image: url('./sign_up/phone.png');
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 454px 618px;
  position: relative;
  height: 618px;
  }

  .pictures {
      position: absolute;
      top: 20px;
      right: 55px;
  }
}

.sign-up-right {
  .sign-up-box {
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .log-in-btn {
    font-size: 15px;
    padding: 2px 70px;
  }
}
