.sign-up-left {
  .phone {
  background-image: url('./sign_up/phone.png');
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 454px 618px;
  position: relative;
  height: 618px;
  }

  .pictures {
      position: absolute;
      top: 20px;
      right: 55px;
  }
}

.sign-up-right {
  .log-in-box {
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 20px 0;
  }

  .sign-up-logo {
    margin-bottom: 20px;
  }

  form {
    input {
      width: 260px;
    }

    input[type=email] {
      background-color: #fafafa;
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      margin: 5px 0;
      font-size: 12px;
      padding: 8px 8px;
    }

    input[type=password] {
      background-color: #fafafa;
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      margin: 4px 0;
      font-size: 12px;
      padding: 8px 8px;
    }

    .log-in-btn {
      font-size: 15px;
      padding: 2px 70px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }

  .create-account {
    font-size: 14px;
    margin: 0;
    padding: 20px 0;
  }

  .sign-up-box {
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
  }

  .apps {
    width: 350px;
  }
}
